# Copyright lowRISC Contributors.
# SPDX-License-Identifier: Apache-2.0

[submodule "cheriot-rtos"]
	path = cheriot-rtos
	url = https://github.com/lowrisc/cheriot-rtos
	branch = sonata
[submodule "display_drivers"]
	path = third_party/display_drivers
	url = https://github.com/engdoreis/display_drivers
	branch = main
[submodule "sonata-system"]
	path = third_party/sonata-system
	url = https://github.com/lowRISC/sonata-system
	branch = main
