# Copyright lowRISC Contributors.
# SPDX-License-Identifier: Apache-2.0

[submodule "cheriot-rtos"]
	path = cheriot-rtos
	url = https://github.com/lowrisc/cheriot-rtos
	branch = sonata
[submodule "display_drivers"]
	path = display_drivers
	url = https://github.com/engdoreis/display_drivers
	branch = main
